/* basic styles */
* {
    box-sizing: border-box;
}
img {
    /* responsive images: https://www.w3schools.com/howto/howto_css_image_responsive.asp */
    width: 100%;
    height: auto;
}
strong {font-weight: bold;}
em {font-style: italic;}

body {
    /* 
      vh: https://css-tricks.com/fun-viewport-units/
      this is your background for pages that don't have a bg image
      linear-gradient: https://developer.mozilla.org/en-US/docs/Web/CSS/linear-gradient
    */
    background: linear-gradient(#222229 0, #222229 100px, #fff 100vh);
    color: #222229;
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
}
body#homepage {
    background: linear-gradient(#222229 0, #222229 100vh, #fff 100%);
}
#wrapper {
    /* surrounds responsive content, keeps it centered on a large screen */
    max-width: 1400px;
    margin: 0 auto;
    min-height: 100vh;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222229;
    padding: 1rem;
}
#logo {
    width: 180px;
}
nav {
    text-align: right;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    padding: 1rem;
    color: #fff;
    font-size: 1.25rem;
    
    /* https://stackoverflow.com/questions/2504071/how-do-i-combine-a-background-image-and-css3-gradient-on-the-same-element */
    background-image: linear-gradient(to right, rgba(34,34,41,1) 0%, rgba(34,34,41,0) 100%), url('../assets/images/hero-background-desktop.jpg');
    background-repeat: no-repeat;
    background-position: top right;

    min-height: 100vh; /* you might erase this line later */
}
h1 {
    color: #55EE80;
    font-family: "Homemade Apple", cursive;
    font-style: italic;
    font-size: 2rem;
    margin: 3rem 0;
}

/* screens larger than mobile */
@media screen and (min-width: 560px) {
    nav ul li {
        display: inline-block;
        margin-left: 10px;
    }
    h1 {
        font-size: 3rem;
    }
    .hero {
        font-size: 1.5rem;
    }
}